@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Red+Hat+Display&display=swap');
$font-heading: "Red Hat Display", sans-serif;
$font-regular: "Lato", sans-serif;
$font-normal: 400;
$font-bold: 700;
$font-12: rem(12px);
$font-16: rem(16px);
$font-19: rem(19px);
$font-23: rem(23px);
$font-33: rem(33px);
$font-48: rem(48px);
$font-height-16: rem(16px);
$font-height-20: rem(20px);
$font-height-26: rem(26px);
$font-height-32: rem(32px);
$font-height-38: rem(38px);
$font-height-64: rem(64px);
