.wrapper {
	max-width: 1440px;
	@extend %padding-desktop;
	margin: 0 auto;  
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;

	&:visited {
	  color: inherit;
	}
}

h1, h2, h3, h4, h5 {
	margin: 0;
	font-family: $font-heading;
}

p, a, span, small {
	font-family: $font-regular;
}