.wrapper {
  padding: {
    left: $indent-16;
    right: $indent-16;
  }
	
  max-width: 1184px;
  width: 100%;
  margin: {
    left: auto;
    right: auto;
  }

  @media only screen and (min-width: 0px) and (max-width: 870px) {
    overflow-x: hidden;
  }

  @media screen and (min-width: 600px)  {
    padding: {
      left: 2rem;
      right: 2rem;	
    }	
  }
}

.wrapper_tablet {
  max-width: 33.7rem;
  padding: 0;

  @media screen and (min-width: 870px) {
    max-width: 100%;
  }
}

.indent-bottom {
  margin-bottom: $indent-65;

  @media screen and (min-width: 600px) {
    margin-bottom: $indent-128;
  }
}

.heading {
  @include font-style($size: $font-33, $heights: 3rem);

  @media screen and (min-width: 870px) {
    max-width: 65%;
  }

  @media screen and (min-width: 600px) {
    font-size: $font-48;
    line-height: $font-height-64;
  }
}

.heading-secondary {
  @include font-style($size: $font-23, $heights: $font-height-38, $spacing: 1px);
}

.image-primary {
  margin-top: $indent-65;
}

.image-secondary {
  margin-top: $indent-40;
}

.header {
  padding-top: $indent-25;
  width: 100%;
  overflow: visible;
	
  @include flexbox($justify: space-between, $align: center);

  @media screen and (min-width: 600px) {
    padding-top: $indent-100;
  }

  &__navigation {
    display: flex;
    color: $black;
    position: relative;
  }

  &__icon {
    margin-left: $indent-50;
  }
}

.footer {
  margin-top: auto;
  background: $gray-100;
  padding: {
    top: $indent-65;
    bottom: $indent-65;
  }

  @media screen and (min-width: 870px) {
    padding: {
      top: $indent-128;
      bottom: $indent-128;
    }
  }

  &__content {
    @include flexbox($direction: column, $justify: space-between, $align: flex-start);

	  @media screen and (min-width: 870px) {
      flex-direction: row;
      align-items: center;
    }  
  }

  &__social-networks {
    align-self: stretch;
    letter-spacing: 2px;
    margin: {
      top: $indent-50;
      bottom: $indent-25;
    }

		display: flex;
    flex-direction: column;

    @media screen and (min-width: 870px) {
      margin: {
        top: 0;
        bottom: -1.56rem;
      }
    }
  }

  &__social-media {
    margin-bottom: $indent-25;

    @include font-style($size: $font-16, $heights: $font-height-26, $spacing: 1px);
  }

  &__copyright {
    margin-top: auto;

    @include font-style($size: $font-12, $heights: $font-height-20, $spacing: 1px);
  }
}
