{% extends '../layouts/_base.twig' %}

{% set page = 'About' %}

{% block title %}{{page}}{% endblock %}

{% block content %}
  <section class="about-us indent-bottom">
    <div class="about-us__person">
      <h1 class="page-heading">About</h1>

      <span class="about-us__rank">
        I’m Manifest
        <br>
        Full-time UI/UX designer
        <br>
        Head of Design at VeronaLabs.com
      </span>

      <img src="img/boss.png" alt="big boss woman"
        width="225" height="235" />
    </div>

    <div class="about-us__description">
      <p class="about-us__paragraph">
        I was born in January 1990. After getting my Degree in computer science in 2002,
        I persuaded my higher study in Human Computer Interaction Design. I got my first job
        as Graphic Designer in the year 2008. After getting experience in graphic for a year,
        I moved to UI-UX Designing.
      </p>

      <p class="about-us__paragraph">
        In 2010, I decided to work as a Freelance Web, UI-UX & Mobile Interface Designer. 
        I find myself still in the learning phase and have strong desire to achieve as many skills as I can.
      </p>

      <a class="button button_tight about-us__button" href="./error.html">Resume &#8594</a>
    </div>
  </section>
{% endblock %}