{% extends '../layouts/_base.twig' %}

{% set page = 'Blog' %}

{% block content %}
  <section class="wrapper_tablet">
    <h1 class="heading">Blog</h1>

    <div class="post post_primary">
      <img class="post__image" 
        src="img/windows.webp" 
        alt="image with windows"
        width="540" 
        height="470" 
      />

      <div class="post__text">
        <span class="post__category">Technology, Interface Design</span>

        <span class="post__date">6 May, 2020</span>

        <h3 class="post__heading heading-secondary">Using UX Design to Build a Sustainable Future</h3>

        <p class="post__paragraph">
          Transformation has to be driven by everybody, not just by climate groups,
          and we have a responsibility to use our influence to drive this.

          <a class="post__link" href="post.html">
            <img src="img/arrow-right.svg" 
              alt="arrow right image"
              width="24" 
              height="12" 
            />
          </a>
        </p>

        <div  class="pagination post__pagination">
          <a class="pagination__item pagination__item_active" href="#">1</a>
          <a class="pagination__item" href="#">2</a>
          <a class="pagination__item" href="#">3</a>
        </div>
      </div>
    </div>

    <div class="posts posts_columns indent-bottom">
      <div class="posts__header dropdown">
        <h4>
          Categories:
        </h4>
        <div class="dropdown__content">
          <label for="dropdown-checkbox" class="dropdown__button">
            <span>
              Interaction Design
            </span>

            <span class="dropdown__arrow">❯</span>
          </label>

          <input type="checkbox" 
            name="checkbox" 
            class="dropdown__checkbox" 
            id="dropdown-checkbox" />

          <ul class="dropdown__items">
            <li>
              <a class="dropdown__item" href="#">All categories
              </a>
            </li>

            <li>
              <a class="dropdown__item" href="#">Digital Interface
              </a>
            </li>

            <li>
              <a class="dropdown__item" href="#">Visual Design
              </a>
            </li>

            <li>
              <a class="dropdown__item" href="#"> Human computer interaction
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="post">
        <img class="post__image" 
          src="img/light-medium.png" 
          alt="enabled lump image"
          width="540" 
          height="250"
        />

        <div class="post__caption">
          <span class="post__category">Interface Design</span>

          <span class="post__date">8 June, 2020</span>
        </div>

        <h3 class="post__heading heading-secondary">UX traffic light colours</h3>

        <p class="post__paragraph">
          UI has to make a huge visual difference between warning,
          an alert and a success.
        </p>
      </div>

      <div class="post">
        <img src="img/roof-small.png"
          alt="roof image"
          width="540"
          height="250" 
        />

        <div class="post__caption">
          <span class="post__category">Visual design</span>

          <span class="post__date">8 June, 2020</span>
        </div>

        <h3 class="post__heading heading-secondary">
          Understanding users by going beyond personas, demographics, and affinity groups
        </h3>

        <p class="post__paragraph">
          Personas are great for ‘humanizing’ users. 
          However, you shouldn’t rely on them to define what larger 
          demographic  or affinity groups—especially diverse ones—might want
        </p>
      </div>

      <div class="post">
        <img src="img/lamp.png"
          alt="enabled lamp image"
          width="540" 
          height="250" 
        />

        <div class="post__caption">
          <span class="post__category">Interface design</span>

          <span class="post__date">8 June, 2020</span>
        </div>

        <h3 class="post__heading heading-secondary">
          Mentorship Match — How a simple LinkedIn feature can boost diversity
        </h3>

        <p class="post__paragraph">
          LinkedIn is on a clear mission to make professionals more successful
          by connecting the global workforce and as we learned — diversity
          and success go hand in hand
        </p>
      </div>

      <div class="post">
        <img src="img/wall-medium.png" 
          alt="arrow on the wall image"
          width="540" 
          height="250" 
        />

        <div class="post__caption">
          <span class="post__category">Visual Design</span>

          <span class="post__date">8 June, 2020</span>
        </div>

        <h3 class="post__heading heading-secondary">
          Creativity vs. UX
        </h3>

        <p class="post__paragraph">
          Is it possible to create a delightful user experience
          without following best UX practices?
        </p>
      </div>
        
      <a class="button button_wide posts__button" href="./error.html">Load more</a>
    </div>
  </section>
{% endblock %}