{% extends '../layouts/_error-base.twig' %}

{% set page = 'Error' %}

{% block content %}
  <div>
    <h1 class="error__heading">404</h1>

    <p class="error__paragraph">
      <strong class="error__caption">Oops!</strong>
        we are sorry, but the page you requested
        <br>
        was not found.
    </p>
  </div>
{% endblock %}
