<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}Title{% endblock %}</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="img/normalize.css" />

  <link rel="stylesheet" href="css/main.css" />

  <script src="https://kit.fontawesome.com/6b13e560f5.js" crossorigin="anonymous">
      </script>
</head>

<body>
  <section class="wrapper error">
    <header class="error__header indent-bottom">
      <a class="logo" href="#">
        <img src="img/logo.png" alt="Site logo" width="135" height="12" />
      </a>
    </header>

    <div class="error__content">
      <h1 class="error__heading">404</h1>

      <p class="error__paragraph">
        <strong class="error__caption">Oops!</strong>
        we are sorry, but the page you requested
        <br>
        was not found.
      </p>

      <a class="button button_tight error__button" href="index.html">&#8592 Go Home</a>

      <div class="social-networks social-networks_horizontal error__social-networks">
        <a href="#">
          <i class="social-networks__item fa-brands fa-facebook-f"></i>
        </a>

        <a href="#">
          <i class="social-networks__item fa-brands fa-twitter"></i>
        </a>

        <a href="#">
          <i class="social-networks__item fa-brands fa-linkedin-in"></i>
        </a>

        <a href="#">
          <i class="social-networks__item fa-brands fa-dribbble"></i>
        </a>
      </div>
    </div>
  </section>
</body>
</html>