{% extends "../layouts/_base.twig" %}

{% set page = 'Home' %}

{% block content %}
  <h1 class="heading indent-bottom">
    Manifest is a newborn theme. Clean, simple and fast.
  </h1>

  <div class="gallery indent-bottom">
    <div>
      <img class="gallery__image" 
        src="img/roof.webp" 
        alt="image with roof"
        width="544" 
        height="544" 
      />

      <span class="gallery__caption">
        some caption
      </span>
    </div>

    <div>
      <img class="gallery__image" 
        src="img/windows.webp" 
        alt="image with windows"
        width="544" 
        height="544"  
      />

      <span class="gallery__caption">
        Mixkit Inspo
      </span>
    </div>

    <div>
      <img class="gallery__image" 
        src="img/wall.webp" 
        alt="image with wall"
        width="544" 
        height="544" 
      />

      <span class="gallery__caption">
        Abalone
      </span>
    </div>

    <div>
      <img class="gallery__image" 
        src="img/lamp-big.webp" 
        alt="image with lamp"
        width="544" 
        height="544" 
      />

      <span class="gallery__caption">
        Dreamy
      </span>
    </div>
  </div>

  <div class="presentation indent-bottom">
    <div class="presentation__header">
      <h3 class="presentation__heading heading-secondary">
        Full-time UI/UX designer
        <br>
        Head of Design at VeronaLabs.com
      </h3>

      <a class="presentation__link" href="./about.html">
        <img src="img/arrow-right.svg" 
          alt="arrow right image"
          width="24" 
          height="12" 
        />
      </a>
    </div>

    <div class="presentation__text">
      <p class="presentation__paragraph">
        We work with clients around the world from
        our headquarters in Charleston, South Carolina.
      </p>

      <p class="presentation__paragraph">
        We focus on naming, branding, brand narratives,
        website design and development, and brand experiences.
      </p>
    </div>
  </div>

  <div class="posts posts_row indent-bottom wrapper-tablet">
    <div class="posts__header">
      <h3 class="heading-secondary">
        Latest Posts
      </h3>

      <a class="posts__link" href="./error-404.html">
        <span>View All</span>

        <img src="img/arrow-right.svg" 
          alt="arrow right image"
          width="24" 
          height="12" 
        />
      </a>
  </div>

    <a href="#">
      <div class="post-meta">
        <img src="img/light.webp" 
          alt="enabled lump image"
          width="540" 
          height="385" 
        />

        <div class="post-meta__caption">
          <span class="post-meta__category">Interface Design</span>

          <span class="post-meta__date">8 June, 2020</span>
        </div>

        <h3 class="post-meta__heading heading-secondary">UX traffic light colours</h3>

        <p class="post-meta__paragraph">
          UI has to make a huge visual difference between warning,
          an alert and a success.
        </p>
      </div>
    </a>

    <a href="#">
      <div class="post-meta">
        <img src="img/direction.webp" 
          alt="arrow on the wall image"
          width="540" 
          height="385" 
        />

        <div class="post-meta__caption">
          <span class="post-meta__category">Technology</span>

          <span class="post-meta__date">6 May, 2020</span>
        </div>

        <h3 class="post-meta__heading heading-secondary">
          Using UX Design to Build a Sustainable Future
        </h3>

        <p class="post-meta__paragraph">
          Transformation has to be driven by everybody, not just by climate groups.
        </p>
      </div>
    </a>

    <a href="#">
      <div class="post-meta">
        <img src="img/roof-medium.webp" 
          alt="roof image"
          width="540" 
          height="385" 
        />

        <div class="post-meta__caption">
          <span class="post-meta__category">Visual design</span>

          <span class="post-meta__date">8 June, 2020</span>
        </div>

        <h3 class="post-meta__heading heading-secondary">Creativity vs. UX</h3>

        <p class="post-meta__paragraph">
          Is it possible to create a delightful user experience
          without following best UX practices?
        </p>
      </div>
    </a>
  </div>
{% endblock %}
