{% extends "../layouts/_base.twig" %}

{% set page = 'Home' %}

{% block title %}{{page}}{% endblock %}

{% block content %}
  <h1 class="page-heading indent-bottom">
    Manifest is a newborn theme. Clean, simple and fast.
  </h1>

  <div class="gallery indent-bottom">
    <div>
      <img class="gallery__image" src="img/roof.png" alt="image with roof"
        width="544" height="544"  />

      <span class="gallery__caption">
        some caption
      </span>
    </div>

    <div>
      <img class="gallery__image" src="img/windows.png" alt="image with windows"
        width="544" height="544"  />

      <span class="gallery__caption">
        Mixkit Inspo
      </span>
    </div>

    <div>
      <img class="gallery__image" src="img/wall.png" alt="image with wall"
        width="544" height="544"  />

      <span class="gallery__caption">
        Abalone
      </span>
    </div>

    <div>
      <img class="gallery__image" src="img/lamp-big.png" alt="image with lamp"
        width="544" height="544"  />

      <span class="gallery__caption">
        Dreamy
      </span>
    </div>
  </div>

  <div class="presentation indent-bottom">
    <div class="presentation__header">
      <h3 class="presentation__heading heading-secondary">
        Full-time UI/UX designer
      </h3>

      <h3 class="presentation__heading heading-secondary">
        Head of Design at VeronaLabs.com
      </h3>

      <a class="presentation__link" href="./about.html">
        <img src="img/arrow-right.svg" alt="arrow right image/">
      </a>
    </div>

    <div class="presentation__text">
      <p class="presentation__paragraph">
        We work with clients around the world from
        our headquarters in Charleston, South Carolina.
      </p>

      <p class="presentation__paragraph">
        We focus on naming, branding, brand narratives,
        website design and development, and brand experiences.
      </p>
    </div>
  </div>

  <div class="posts posts_row indent-bottom">
    <div class="posts__header">
      <h3 class="heading-secondary">
        Latest Posts
      </h3>

      <a class="posts__link" href="./error.html">
        <span>View All</span>

        <img src="img/arrow-right.svg" alt="arrow right image/">
      </a>
  </div>

    <div class="post">
      <img src="img/light.png" alt="enabled lump image"/>

      <div class="post__caption">
        <span class="post__category">Interface Design</span>

        <span class="post__date">8 June, 2020</span>
      </div>

      <h3 class="post__heading heading-secondary">UX traffic light colours</h3>

      <p class="post__paragraph">
        UI has to make a huge visual difference between warning,
        an alert and a success.
      </p>
    </div>

    <div class="post">
      <img src="img/direction.png" alt="arrow on the wall image"/>

      <div class="post__caption">
        <span class="post__category">Technology</span>

        <span class="post__date">6 May, 2020</span>
      </div>

      <h3 class="post__heading heading-secondary">
        Using UX Design to Build a Sustainable Future
      </h3>

      <p class="post__paragraph">
        Transformation has to be driven by everybody, not just by climate groups.
      </p>
    </div>

    <div class="post">
      <img src="img/roof-medium.png" alt="roof image"/>

      <div class="post__caption">
        <span class="post__category">Visual design</span>

        <span class="post__date">8 June, 2020</span>
      </div>

      <h3 class="post__heading heading-secondary">Creativity vs. UX</h3>

      <p class="post__paragraph">
        Is it possible to create a delightful user experience
        without following best UX practices?
      </p>
    </div>
  </div>
{% endblock %}
