{% extends '../layouts/_base.twig' %}

{% set page = 'Blog' %}

{% block content %}
  <section class="post-meta post-meta_full">
    <div>
      <span class="post-meta__category">Technology, Interface Design</span>

      <h1 class="post-meta__heading heading">
        Using UX Design to Build a Sustainable Future
      </h1>

      <span class="post-meta__date">6 May, 2020</span>

      <a class="post-meta__comments" href="error.html">
        <i class="fa-solid fa-message"></i>

        <span>8 comments</span>
      </a>
    </div>

    <img 
      class="post-meta__image" 
      src="img/windows-wide.png" 
      alt="image with windows"
      width="1120" 
      height="470" 
    />

    <div class="post indent-bottom">
      <div class="post__author">
        <img src="img/blog-author.png" alt="ugly black woman" width="70" height="70" />

        <span class="user-name">Monica Geller</span>
      </div>

      <div class="post__header">
        <div class="social-networks">
          <a href="#">
            <i class="fa-brands fa-facebook-f"></i>
          </a>

          <a href="#">
            <i class="fa-brands fa-twitter"></i>
          </a>

          <a href="#">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>

          <a href="#">
            <i class="fa-brands fa-dribbble"></i>
          </a>
        </div>

        <p class="post__paragraph">
          Transformation has to be driven by everybody, not just by climate groups,
          and we have a responsibility to use our influence to drive this. 
          Overwhelming evidence points to the fact that we have about a 
          decade to combat climate change caused by human activity before 
          irreversible damage is caused. It is the biggest crisis of our generation. 
        </p>
      </div>

      <p class="post__paragraph">
        What Can UX Designers Do?
      </p>

      <p class="post__paragraph">
        Firstly, on a broader scale, influence is held by people who work in tech,
        economically, socially and politically. People follow and listen to 
        what happens in the world of tech. We need to take advantage of this 
        to highlight important issues and create awareness around the environmental impact of tech.
      </p>

      <div class="post__paragraph blockquote">
        <blockquote cite="#" class="blockquote__content">
          “UX designers are in a unique position to create tools with sustainability at their heart
          by streamlining user workflows, minimizing information overload, and removing potential 
          distractions that keep users from accomplishing tasks they set out to do.”
        </blockquote>

        <span class="blockquote__caption">
          ‘<site>Designing For Sustainability</site>, Tim Frick, 2014'
        </span>
      </div>

      <p class="post__paragraph">
        Most of the Internet is unsustainable, so there is an opportunity to make a very real
        and lasting impact through our work. The following are some ideas for ways in which UX 
        designers can play their part in managing this global crisis.
      </p>

      <ul class="post__points">
        <li class="post__item">
          Ask if the product is solving a real-world problem?
        </li>

        <li class="post__item">
          Use content strategy to offer choices to customers choices.
        </li class="post__item">

        <li class="post__item">
          When considering fonts, stick to two font types and reduce the typeface.
        </li class="post__item">
      </ul>

      <div class="tags">
        <h4 class="tags__heading">Tags:</h4>

        <div>
          <a class="tags__item" href="./error-404.html">Technology,</a>
          <a class="tags__item" href="./error-404.html">Interface Design,</a>
          <a class="tags__item" href="./error-404.html">Visual Design</a>
        </div>
      </div>

      <form class="post__form form form_mobile" action="#">
        <h3 class="heading-secondary">Leave a reply</h3>
        <span class="form__requrement">Required fields are marked *</span>

        <div class="form__group">
          <div class="form__item">
            <label class="form__label" for="name">
              Name*
            </label>

            <input 
              class="form__input" 
              type="text" 
              name="name" 
              id="name" 
              placeholder="Walter Moss" 
              required 
            />
          </div>

          <div class="form__item">
            <label class="form__label" for="email">
              Email*
            </label>

            <input 
              class="form__input" 
              type="email" 
              name="email"
              id="email" 
              placeholder="Info@manifest.com" 
              required 
            />
          </div>

          <div class="form__item">
            <label class="form__label" for="url">
              Website
            </label>

            <input 
              class="form__input" 
              type="url" 
              name="url" 
              id="url" 
              placeholder="www.manifest.com" 
            />
          </div>
        </div>

        <div class="form__item_checkbox">
          <input 
            class="form__checkbox" 
            type="checkbox" 
            name="checkbox"
            id="checkbox" 
            required 
          />

          <label class="form__label" for="checkbox">
            Save my name, email, and website in this browser for the next time I comment
          </label>
        </div>

        <div>
          <label class="form__label" for="text">
            Comment
          </label>

          <input 
            class="form__input"
            type="text" 
            name="text"
            id="text" 
            placeholder="Hi there..." 
            required 
          />
        </div>

        <input 
          class="button button_tight form__button" 
          type="submit" 
          name="Post" 
          value="Post" 
        />
      </form>

      <h3 class="heading-secondary">Comments</h3>

      <div class="comments">
        <div class="comment">
          <img 
            src="img/comment-1.png"
            alt="another ugly black woman" 
            width="70" 
            height="70" 
          />

          <div>
            <div class="comment__header">
              <span class="user-name">Scarlet withch</span>

              <span class="comment__date">6 May, 2020</span>
            </div>

            <p class="comment__body">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy 
              nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
            </p>

            <a class="comment__footer" href="./error-404.html">
              <i class="fa-solid fa-reply"></i>

              <span>Reply</span>
            </a>
          </div>

          <div class="comment__reply comment">
            <img 
              src="img/comment-2.png" 
              alt="beautiful white woman" 
              width="70" 
              height="70" 
            />

            <div>
              <div class="comment__header">
                <span class="user-name">Kate Moss</span>

                <span class="comment__date">6 May, 2020</span>
              </div>

              <p class="comment__body">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
              </p>

              <a class="comment__footer" href="./error-404.html">
                <i class="fa-solid fa-reply"></i>

                <span>Reply</span>
              </a>
            </div>
          </div>
        </div>

        <div class="comment">
          <img 
            src="img/comment-1.png"
            alt="another ugly black woman" 
            width="70" 
            height="70" 
          />

          <div>
            <div class="comment__header">
              <span class="user-name">Scarlet withch</span>

              <span class="comment__date">6 May, 2020</span>
            </div>

            <p class="comment__body">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy 
              nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
            </p>

            <a class="comment__footer" href="./error-404.html">
              <i class="fa-solid fa-reply"></i>

              <span>Reply</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
