{% extends '../layouts/_base.twig' %}

{% set page = 'Works' %}

{% block title %}Single work{% endblock %}

{% block content %}
  <section class="project-page">
    <header class="project-page__header">
      <h5 class="project-page__heading">
        CASE STUDY
      </h5>

      <h1 class="page-heading">AI Fashion Platform</h1>
    </header>

    <div class="project-page__content">
      <img class="project-page__image" src="img/wall.png" 
        alt="image with a wall" width="1120" height="470" />

      <div class="overview">
        <div class="overview__text">
          <h3 class="overview__heading">Project Overview</h3>

          <p class="overview__paragraph">
            FashHanger is a bespoke sustainable high-fashion accessory company based out of Berlin,
            currently operated by Siesly and her sister Ashely. They needed help for a big rebrand 
            and wanted to relaunch their website.
          </p>

          <p class="overview__paragraph">
            Their goals were simple, create a unique e-commerce store that bring a wonderful 
            shopping experience at every stage of the buyer’s journey.
          </p>
        </div>

        <div class="overview__information">
          <div class="overview__item">
            <span>Year</span>

            <small class="overview__item overview__item_small">2019</small>
          </div>

          <div class="overview__item">
            <span>Platform</span>

            <small class="overview__item overview__item_small">
              Shopify, Webflow
            </small>
          </div>

          <div class="overview__item">
            <span>Role</span>

            <small class="overview__item overview__item_small">
              Research, Design
            </small>
          </div>

          <div class="overview__item">
            <span>Deliverables</span>

            <small class="overview__item overview__item_small">
              www.fashhanger.com
            </small>
          </div>
        </div>

        <div class="overview__section">
          <h3 class="overview__heading">User Research and Personas</h3>

          <img class="project-page__image" src="img/roof-small.png"
            alt="image with roof" width="1120" height="470" />

          <p class="overview__paragraph">
            Who is your user? Indicate her KEY personality traits and help round out her overall image.
          </p>

          <p class="overview__paragraph">
            Originally, the personality section of this persona was based off the Myers Briggs personality 
            test. According to the Myers Briggs, there are 16 potential user personality types. 
            Our template integrates questions from this online personality test example into a series of 
            sliding bar graphics. If you’re confused as to what the sliders mean, check out the 
            Myers Briggs basics article.       
          </p>
        </div>

        <div class="overview__section">
          <h3 class="overview__heading">Initial Sketches</h3>

          <img class="project-page__image" src="img/windows-wide.png"
            alt="image with windows" width="1120" height="470" />

          <p class="overview__paragraph">
            In the beginning, It’s just about brainstorming.
          </p>

          <p class="overview__paragraph">
            I list out a jumble of words and draw tiny sketches related to what I’m working on 
            (and find the parallels later). Personally, I prefer paper with a grid so I can 
            convey things responsively. Most of the time perfection isn’t an issue and 
            the sketches are just for me.      
          </p>
        </div>

        <div class="overview__section">
          <h3 class="overview__heading">Final design</h3>

          <img class="project-page__image" src="img/flashlight-wide.png"
            alt="image with windows" width="1120" height="470" />

          <p class="overview__paragraph">
            I played with adding a wireframe of the website flow that would lead you 
            in to each screen. For each of those screens I added a floating footer 
            that allows users to see where they are in that particular flow and jump 
            around as needed.” We’re digging this InVision-made wireframe.    
          </p>
        </div>
      </div>  
    </div>
  </section>
{% endblock %}