{% extends '../layouts/_base.twig' %}

{% set page = 'Works' %}

{% block title %}Works{% endblock %}

{% block content %}
  <section class="illustrated-container indent-bottom">
    <div class="illustrated illustrated_header">
      <h1 class="page-heading">Works</h1>

      <p class="illustrated__paragraph">
        Hello! I’m Manifest – a Freelance UI/UX Designer from Berlin, Germany.
      </p>
    </div>

    <div class="illustrated">
      <div>
        <h3 class="heading-secondary">Car Sharing App</h3>

        <hr class="illustrated__break" />

        <span class="illustrated__type">Product Design</span>
        <span class="illustrated__date">2020</span>

        <a class="button button_tight illustrated__button" href="error.html">
          View More &#8594
        </a>
      </div>

      <img class="illustrated__image" src="img/windows.png" 
        alt="image with windows" width="550" height="550" />
    </div>

    <div class="illustrated">
      <div>
        <h3 class="heading-secondary">AI Fashion Platform</h3>

        <hr class="illustrated__break" />

        <span class="illustrated__type">User Centered Website Redesign</span>
        <span class="illustrated__date">2019</span>

        <a class="button button_tight illustrated__button" href="project.html">
          View More &#8594
        </a>
      </div>

      <img class="illustrated__image" src="img/wall.png" 
        alt="image with windows" width="550" height="550" />
    </div>

    <div class="illustrated">
      <div>
        <h3 class="heading-secondary">Redesigning DropBox</h3>

        <hr class="illustrated__break" />

        <span class="illustrated__type">Product Design</span>
        <span class="illustrated__date">2018</span>

        <a class="button button_tight illustrated__button" href="error.html">
          View More &#8594
        </a>
      </div>

      <img class="illustrated__image" src="img/roof.png" 
        alt="image with windows" width="550" height="550" />
    </div>
  </section>
{% endblock %}