{% extends '../layouts/_base.twig' %}

{% set page = 'Works' %}

{% block title %}Works{% endblock %}

{% block content %}
  <section class="works-page indent-bottom">
    <div class="works-page__header indent-bottom">
      <h1 class="page-heading">Works</h1>

      <p class="works-page__paragraph">
        Hello! I’m Manifest – a Freelance UI/UX Designer from Berlin, Germany.
      </p>
    </div>

    <div class="works-page__content">
      <div class="works-page__item illustrated">
        <div class="illustrated__text">
          <h3 class="illustrated__heading heading-secondary">Car Sharing App</h3>

          <hr class="illustrated__break" />

          <span class="illustrated__type">Product Design</span>
          <span class="illustrated__date">2020</span>

          <a class="button button_tight illustrated__button" href="error.html">
            View More &#8594
          </a>
        </div>

        <img class="illustrated__image" src="img/windows.png" 
          alt="image with windows" width="550" height="550" />
      </div>

      <div class="illustrated works-page__item">
        <div class="illustrated__text">
          <h3 class="illustrated__heading heading-secondary">AI Fashion Platform</h3>

          <hr class="illustrated__break" />

          <span class="illustrated__type">User Centered Website Redesign</span>
          <span class="illustrated__date">2019</span>

          <a class="button button_tight illustrated__button" href="project.html">
            View More &#8594
          </a>
        </div>

        <img class="illustrated__image" src="img/wall.png" 
          alt="image with windows" width="550" height="550" />
      </div>

      <div class="illustrated works-page__item">
        <div class="illustrated__text">
          <h3 class="illustrated__heading heading-secondary">Redesigning DropBox</h3>

          <hr class="illustrated__break" />

          <span class="illustrated__type">Product Design</span>
          <span class="illustrated__date">2018</span>

          <a class="button button_tight illustrated__button" href="error.html">
            View More &#8594
          </a>
        </div>

        <img class="illustrated__image" src="img/roof.png" 
          alt="image with windows" width="550" height="550" />
      </div>
    </div>
  </section>
{% endblock %}