{% set navigation = { 
  './index.html': 'Home',
  './about.html': 'About', 
  './blog.html': 'Blog', 
  './contact.html': 'Contact' 
  , './works.html': 'Works' 
} %}

<nav class="navigation navigation_mobile">
  <ul class="navigation__content">
    {% for current, name in navigation %}
      <li
        {% if name == page %}
          class="is-selected"
        {% endif %}
      >
        <a class="navigation__item" href="{{ current }}">{{ name }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
