{% set navigation = { './index.html': 'Home', './about.html': 'About', './blog.html': 'Blog', './contact.html': 'Contact' , './works.html': 'Works' } %}
{% set zalupa = 'sometext' %}

<nav>
  <ul>
    {% for hyi, name in navigation %}
      <li
        {% if name == page %}
          class="is-selected"
        {% endif %}
      >
        <a href="{{ hyi }}">{{ name }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
