.about-us {
	display: grid;
	grid-template-columns: 35% 55%;
	grid-gap: $indent-45;
	justify-content: space-between;

	@media screen and (max-width: 870px) {
		grid-template-columns: auto;
	}

	&__person, &__description {
		display: grid;
	}

	&__rank {
		margin-top: $indent-40;
		margin-bottom: $indent-16;
		color: $gray-700;

		@include font-style ($size: $font-23, $heights: $font-height-38, $spacing: 1px);
	}

	&__paragraph {
		margin-bottom: $indent-65;
		@include font-style($size: $font-19, $heights: $font-height-32, $spacing: 0.5px);
		color: $gray-700;
	}

	&__button {
		align-self: end;
	}
}
