.address {
  margin: {
    top: $indent-25;
    bottom: $indent-70;
  }

  color: $gray-700;
  
  @include font-style($heights: $font-height-26, $spacing: 0.5px);

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: $indent-25;
  }

  &__icon {
    margin-right: $indent-10;
  }
}
