.button {
  display: inline-block;
  background: $gray-700;
  color: $white;
  width: fit-content;
  white-space: nowrap;
  height: 3.1rem;
  border: none;

  @include font-style($size: $font-16, $heights: $font-height-26, $spacing: 1px);

  &_tight {
    padding: $indent-10 $indent-34;
  }

  &_wide {
    padding: $indent-10 $indent-45;
  }

  &__arrow-right {
    padding: $indent-10 $indent-65 $indent-10 $indent-34;
    background-image: url("~../img/arrow-button.svg");
    background-repeat: no-repeat;
    background-position: 5.6rem;
  }

  &__arrow-left {
    margin-right: $indent-10;
  } 
}
