.button {
  display: inline-block;
  background: $gray-700;
  color: $white;
  width: fit-content;
  white-space: nowrap;

  @include font-style($heights: $font-height-26, $weight: $font-bold);

  &_tight {
    padding: $indent-10 $indent-34;
  }

  &_wide {
    padding: $indent-10 $indent-45;
  }
}
