.comment {
	display: grid;
	grid-template-columns: 4.38rem auto;
	grid-gap: $indent-40 $indent-25;
	padding-bottom: $indent-40;
	border-bottom: 3px solid $gray-100;

	@media screen and (max-width: 600px) {
		column-gap: $indent-16;
	}

	&__reply {
		grid-column: 2/3;
	}

	&__reply, &:last-child {
		padding-bottom: 0;
		border-bottom: none;
	}

	&__header {
		@include flexbox($align: center);

		flex-wrap: wrap;
	}

	&__date {
		@include font-style($size: $font-12, $heights: $font-height-20, $spacing: 0.5px);
		
		color: $gray-500;
	}

	&__body {
		@include font-style($size: $font-16, $heights: $font-height-32, $spacing: 0.5px);

		color: $gray-700;
		margin: $indent-16 $indent-25 $indent-16 0;
	}

	&__footer {
		color: $gray-500;

		@include font-style ($heights: $font-height-26, $spacing: 0.5px);
	}
}
