.contact-us {
	display: grid;
	grid-template-columns: auto;
	grid-gap: $indent-65;
	justify-content: space-between;

	@media screen and (min-width: 600px) {
		grid-gap: $indent-65;
		grid-template-columns: 35% 45%;
		grid-gap: $indent-128 $indent-25;
	}

	&__paragraph {
		color: $gray-700;

		@include font-style($size: $font-19, $spacing: 0.5px);
	}

	&__social-networks {
		margin-top: $indent-25;
	}
}
