.contact-us {
  display: grid;
  grid-template-columns: auto;
  grid-gap: $indent-65;
  justify-content: space-between;

  .contact-us__heading {
    @media screen and (min-width: 870px) {
      max-width: 100%;
    }
  }

  @media screen and (min-width: 870px) {
    grid-template-columns: 35% 45%;
    grid-gap: $indent-128 $indent-25;
  }

  &__paragraph {
    color: $gray-700;

    @include font-style($size: $font-19, $spacing: 0.5px);
  }

  &__social-networks {
    margin-top: $indent-25;
  }
}
