.dropdown {
	color: $gray700;
	position: relative;

	&__heading, &__button {
		@include font-style ($heights: $font-height-26, $spacing: 1px);
	}

	&__heading {
		align-self: flex-start;
	}

	&__content{
		margin-right: auto;
		margin-left: $indent40;
		flex-grow: 1;
		position: relative;
	}

	&__button {
		padding-bottom: $indent25;
		border-bottom: 1px solid $black;
		@include flexbox($justify: space-between);
	}

	&__arrow {
		 transform: rotate(90deg);
	}

	&__checkbox {
		display: none;
	}

	&__items {
		display: none;
		position: absolute;
		top: 100%;
		background: $white;
		width: 100%;
		border: 2px solid $gray500;
		font-size: $font-12;
		z-index: 1;
	}

	&__checkbox:checked + &__items {
		display: grid;
	}

	&__item {
		display: block;
		padding: $indent10 $indent16;
	}

	&__item:hover {
		background: $gray100;
	}
}

@media screen and (max-width: 600px) {
	.dropdown {
		&__content {
			margin-left: $indent16;
		}
	}
}
