.error {
	margin-top: $indent-100;
	margin-bottom: 13.5rem;
	text-align: center;

	&__heading {
		@include font-style($size: 8.5rem, $weight: $font-bold, $heights: 11.5rem, $spacing: 7px);

		color: $gray-300;
	}

	&__paragraph {
		@include font-style($size: $font-23, $heights: $font-height-38);

		color: $gray-700;
		margin-bottom: $indent-50;

		@media screen and (max-width: 600px) {
			margin-top: $indent-50;
			margin-botton: $indent-65;	
		}
	}

	&__caption {
		@include font-style($size: $font-33, $heights: 3.12rem);

		color: $gray-300;
	}

	&__button {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	&__social-networks {
		margin-top: $indent-25;
		color: $black;
	}
}
