.form {
	display: grid;
	grid-gap: $indent-50;

	&__requrement {
		margin-top: -3.12rem;
		margin-bottom: $indent-16;
		color: $gray-500;

		@media screen and (max-width: 870px) {
			margin-top: -1.56rem;
			margin-bottom: $indent-40;
		}
	}

	&__group {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: $indent-40;

		@media screen and (max-width: 1160px) {
			grid-template-columns: auto;
			grid-gap: $indent-25;
		}
	}

	&__label {
		color: $gray-700;

		@include font-style($heights: $font-height-26, $spacing: 0.5px);

		
	}

	&__input {
		display: block;
		width: 100%;
		margin-top: $indent-16;
		border: none;
		border-bottom: 1px solid $black;
		padding-bottom: $indent-10;
		opacity: 0.8;
	}

	&__item_checkbox {
		opacity: 0.8;

		@include flexbox($align: center);
	}

	&__checkbox {
		margin-right: $indent-10;
	}

	&__button {
		margin-top: $indent-16;
	}
}

.blog__form .form__button {
	margin-top: -1.56rem;

	@media screen and (max-width: 870px) {
		margin-top: 0;
	}
}

.form_mobile {
	@media screen and (max-width: 870px) {
		grid-gap: $indent-25;
	}
}
