.gallery {
	display: grid;
	grid-auto-flow: column;
	grid-gap: $indent-34;
	justify-content: center;
	width: 69rem;

	@media screen and (max-width: 600px) {
		width: 34rem;
	}

	&__caption {
		display: inline-block;
		margin-top: $indent-16;

		@include font-style($heights: $font-height-26);
	}

	&__image {
		max-width: 34rem;
		height: 34rem;

		@media screen and (max-width: 600px) {
			max-width: 16rem;
			height: auto;
		}
	}
}
