.heading {
	@include font-style($size: $font-33, $heights: 3rem);

	@media screen and (min-width: 870px) {
		max-width: 65%;
	}

	@media screen and (min-width: 600px) {
		font-size: $font-48;
		line-height: $font-height-64;
	}
}
