.header {
	padding-top: $indent100;
	padding-bottom: $indent128;
	
	@include flexbox($justify: space-between, $align: center);

	.header__navigation {
		display: flex;
		color: $black;
	}

	.header__icon {
		margin-left: $indent50;
	}
}