.illustrated {

	&__break {
		width: 5.3rem;
		display: inline-block;
		margin-top: $indent16;
		margin-bottom: $indent25;
		border-color: $gray100;
	}

	&__type {
		display: block;
		margin-bottom: $indent16;
		letter-spacing: 2px;
	}

	&__date {
		color: $gray700;
		display: block;
	}

	&__button {
		margin-top: $indent40;
	}  
}

@media screen and (max-width: 870px) {
	.illustrated {
		&__image {
			grid-area: 1/1/2/2;
		}
	}
}