.is-selected {
  @include flexbox($direction: column, $align: center);
  
  margin-bottom: -2px;

  &:after {
  content: ('');
  display: inline-block;
  width: 35px;
  height: 2px;
  background: $black;
  }
}
