.navigation {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	column-gap: $indent50;
	align-items: center;

	.navigation__item {
		@include font-style($size: $font-12);
		letter-spacing: 3px;
	}

}


.navigation_mobile__button {
	display: none;
}
.navigation_mobile__checkbox {
	display: none;
}