.overview {
  display: grid;
  grid-template-columns: auto;
  grid-gap: $indent-65;
  justify-content: space-between;

  @media screen and (min-width: 870px) {
    grid-template-columns: 49% 40%;
  }

  &__heading {
    margin-bottom: -1.56rem;

    @media screen and (min-width: 600px) {
      margin-bottom: 0;
    }
  }

  &__paragraph {
    margin-top: $indent-40;
  }

  &__information {
    margin-bottom: -2.8rem;
  }

  &__category {
    margin-bottom: $indent-45;

    @media screen and (min-width: 870px) {
      max-width: 21.9rem;
      margin-left: auto;
    }
  }

  &__item {
    display: block;
    color: $gray-700;

    @include font-style($size: $font-19, $spacing: 0.5px);
  }
}
