.pagination {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: $indent-25;

	&__item {
		@include font-style($heights: $font-height-26);
	}

	&__item_active {
		color: $gray-500;
	}
}