.post {
  &__author, &__paragraph, &__points, &__tags, &__form, &__heading, &__comments {
    @extend %post-centered;
  }

  &__author {
    font-size: $font-16;
    margin-bottom: $indent-40;

    @include flexbox($align: center);
  }

  &__header {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 950px) {
      flex-direction: row;
      max-width: 58.75rem;
      padding-right: 1rem;
      margin: {
        right: auto;
        left: auto;
      }
    }
  }

  &__social-networks {
    margin-bottom: $indent-34;

    @media screen and (min-width: 950px) {
      align-self: flex-start;
      margin: {
        top: 0.38rem;
        bottom: 0;
      }
    }
  }

  &__paragraph {

    color: $black;
    margin-bottom: $indent-34;

    @include font-style ($size: $font-19, $heights: $font-height-32, $spacing: 0.5px);
  }

  &__points {
    margin-top: $indent-70; 

    @include font-style ($size: $font-19, $heights: $font-height-32, $spacing: 0.5px);

    @media screen and (min-width: 600px) {
      margin-top: 0;
    }
  }

  &__tags {
    margin-top: $indent-100;
  }

  &__form {
    margin: {
      top: $indent-65;
      bottom: $indent-100;
    }

    @media screen and (min-width: 870px) {
      margin-top: $indent-100;
    }
  }
}
