.presentation {
	display: grid;
	grid-template-columns: 60% 40%;

	@media screen and (max-width: 870px) {
		grid-template-columns: auto;
	}

	&__header {
		margin-bottom: auto;
	}

	&__heading:first-line {
		@media screen and (max-width: 870px) {
			line-height: 7rem;
		}
	}

	&__link {
		display: block;
		margin-top: $indent-45;

		@media screen and (max-width: 870px) {
			margin-top: $indent-25;
			margin-bottom: $indent-50;
		}
	}

	&__text {
		display: grid;
		row-gap: $indent-45;
	}

	&__paragraph {
		@include font-style($size: $font-19, $heights: $font-height-32, $spacing: 1px);
	}
}
