.project-offer {
  @include flexbox($direction: column);

  &__phone {
  	margin-top: $indent34;
  	margin-bottom: $indent16;
  }

  &__phone, &__mail {
  	@include font-style($heights: $font-height-26);
  }	
}

@media screen and (max-width: 870px) {
  .project-offer__phone {
    margin-top: $indent16;
  }
}