.social-networks {
	display: inline-grid;
	grid-gap: $indent25;
	color: $gray500;

	&_horizontal {
		grid-template-columns: auto auto auto auto
	}
}

@media screen and (max-width: 870px) {
	.social-networks {
		grid-template-columns: auto auto auto auto;
		width: fit-content;
	}
}