.social-networks {
  display: inline-grid;
  grid-gap: $indent-25;
  color: $gray-500;
  width: fit-content;
  grid-auto-flow: column;

  @media screen and (min-width: 950px) {
    grid-auto-flow: row;
  }

  &_horizontal {
    grid-auto-flow: column;
  }
}
