.tags {
	display: flex;
	padding-bottom: $indent16;
	border-bottom: 1px solid $gray100;
	@include font-style($heights: $font-height-26, $spacing: 1px);
	margin-top: $indent65;

	&__heading {
		font-weight: $font-normal;
		margin-right: $indent16;
	}
	&__item {
		margin-right: $indent10;
		color: $gray500;
	}

}