.works-page {
	&__header, &__item {
		display: grid;
		grid-template-columns: 30% 49%;
		grid-gap: $indent45;
		justify-content: space-between;
	}

	&__paragraph {
		@include font-style($size: $font-19, $heights: $font-height-32, $spacing: 0.5px);
		color: $black;
	}

	&__content {
		display: grid;
		row-gap: $indent50;
	}
}

@media screen and (max-width: 870px) {
	.works-page {

		&__header, &__item {
			grid-template-columns: auto;
			justify-content: center;
		}

		&__header {
			max-width: 34.38rem;
			margin-left: auto;
			margin-right: auto;
		}
	}
}