@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Red+Hat+Display&display=swap');
$font-heading: "Red Hat Display", sans-serif;
$font-regular: "Lato";
$font-normal: 400;
$font-bold: 700;
$font-12: 0.75rem;
$font-16: 1rem;
$font-19: 1.18rem;
$font-23: 1.43rem;
$font-33: 2.06rem;
$font-48: 3rem;
$font-height-16: (16rem/16);
$font-height-20: (20rem/16);
$font-height-26: (26rem/16);
$font-height-32: (32rem/16);
$font-height-38: (38rem/16);
$font-height-64: (64rem/16);