{% include '../partials/_head.twig' %}

<body>
  <header class="header wrapper indent-bottom">
    <a href="./index.html">
      <img src="img/logo.png" alt="Site logo" width="135" height="12" />
    </a>

    <div class="header__navigation">
      <input type="checkbox" class="navigation__checkbox" id="navigation-mobile-checkbox" />

      {% include '../partials/_navigation.twig' %}

      <a class="header__icon" href="./error-404.html">
        <i class="fa fa-search"></i>
      </a>

      <label for="navigation-mobile-checkbox" class="navigation__button">
        <svg viewBox="0 0 100 80" width="24" height="20">
          <rect width="100" height="7"></rect>
          <rect y="30" width="100" height="7"></rect>
          <rect y="60" width="100" height="7"></rect>
        </svg>
      </label>
    </div>
  </header>

  <div class="wrapper">
    {% block content %}
       <h1>Something went wrong, please contact support.</h1>
    {% endblock %}
  </div>

  <footer class="footer">
    <div class="wrapper footer__content">
      <div class="project-offer">
        <h1 class="heading project-offer__heading">
          Need a project?
        </h1>

        <a class="project-offer__phone" href="tel:+2395550108">
          (239) 555-0108
        </a>

        <a class="project-offer__mail" href="mailto:tanya.hill@example.com">
          tanya.hill@example.com
        </a>
      </div>

      <ul class="footer__social-networks">
        <li>
          <a href="./error.html">Facebook</a>
        </li>

        <li>
          <a href="./error.html">Instagram</a>
        </li>

        <li>
          <a href="./error.html">Dribble</a>
        </li>

        <li>
          <a href="./error.html">Linkedin</a>
        </li>
      </ul>

      <div class="footer__copyright">
        <small>&copy Copyright Manifest Theme.<br>
          Allrights reserved
        </small>
      </div>
    </div>
  </footer>
</body>
</html>
