@mixin font-style($size: $font-16, $weight: $font-normal, $heights: $font-height-32, $spacing: 2px) {
  font-size: $size;
  font-weight: $weight;
  line-height: $heights;
  letter-spacing: $spacing;
}

@mixin flexbox($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}