@mixin font-style($family: $font-regular, $size: $font-16, $weight: $font-normal,) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
}

@mixin flexbox($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}