%offset-right {
  @media screen and (min-width: 1300px) {
    margin: {
      left: 1.25rem;
      right: -1.25rem;
    }
  }
}

%offset-left {
  @media screen and (min-width: 1300px) {
    margin: {
      right: 3.75rem;
      left: -3.75rem;
    }
  }
}